@import 'tailwindcss';

@theme inline {
  --color-primary: var(--primitive-primary-500);
  --color-background: var(--color-surface-white);
  --color-surface: var(--color-surface-grey);
  --color-foreground: var(--color-text-primary-black);
  --color-muted: var(--color-text-secondary-dark-grey);
  --color-default: var(--primitive-grey-200);
  --color-success: var(--primitive-green-500);
  --color-error: var(--primitive-red-500);
  --color-info: var(--primitive-blue-500);
  --color-warning: var(--primitive-yellow-500);

  --spacing-none: var(--spacing-none);
  --spacing-xxs: var(--spacing-xxs);
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);

  --radius-xxs: var(--radius-xxs);
  --radius-xs: var(--radius-xs);
  --radius-sm: var(--radius-sm);
  --radius-md: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-xl: var(--radius-xl);

  --shadow-card: var(--shadow-card);

  --font-sans: var(--font-family-base);

  --font-weight-regular: var(--font-weight-regular);
  --font-weight-semibold: var(--font-weight-semibold);

  --text-h1: var(--font-size-h1);
  --text-h1--line-height: var(--line-height-h1);
  --text-h1--font-weight: var(--font-weight-semibold);

  --text-h5: var(--font-size-h5);
  --text-h5--line-height: var(--line-height-h5);
  --text-h5--font-weight: var(--font-weight-semibold);

  --text-s2-subtitle: var(--font-size-s2-subtitle);
  --text-s2-subtitle--line-height: var(--line-height-s2-subtitle);
  --text-s2-subtitle--font-weight: var(--font-weight-semibold);

  --text-b1-body: var(--font-size-b1-body);
  --text-b1-body--line-height: var(--line-height-b1-body);
  --text-b1-body--font-weight: var(--font-weight-regular);

  --text-b3-body: var(--font-size-b3-body);
  --text-b3-body--line-height: var(--line-height-b3-body);
  --text-b3-body--font-weight: var(--font-weight-regular);

  --text-button-large: var(--font-size-button-large);
  --text-button-large--line-height: var(--line-height-button-large);
  --text-button-large--font-weight: var(--font-weight-semibold);
}
